@import "../abstracts/mixins";
@import "../abstracts/variables";

.about {
  margin: 60px 0;
  @media (max-width: $breakpoint-lg) {
    margin: 36px 0;
  }
  position: relative;
  .row {
    align-items: center;
  }
  &-decor {
    width: 140px;
    margin-top: 25px;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -12;
    transform: translate(0, -50%) rotate(180deg);
    @media (max-width: $breakpoint-xl) {
      display: none;
    }
  }
  &-icon {
    width: 100%;
    display: block;
    object-fit: contain;
    @media (max-width: $breakpoint-lg) {
      margin-top: 30px;
    }
    @media (max-width: $breakpoint-md) {
      width: 207px;
    }
    img {
      @include defaultIcon(contain);
    }
  }
  &-ceo {
    margin-bottom: 120px;
    @media (max-width: $breakpoint-lg) {
      margin-bottom: 60px;
    }
  }
  &-quote {
    @media (max-width: $breakpoint-lg) {
      margin-bottom: 16px;
    }
    &-author {
      display: flex;
      align-items: center;
      margin-bottom: 36px;
      @media (max-width: $breakpoint-md) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    &-image {
      width: 140px;
      height: 140px;
      margin-right: 30px;
      border-radius: 100%;
      overflow: hidden;
      @media (max-width: $breakpoint-md) {
       margin: 0 0 16px 0;
      }
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    &-name {
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 4px;
    }
    &-position {
      font-size: 16px;
    }
    &-text {
      position: relative;
      line-height: 30px;
      &:before {
        position: absolute;
        font-size: 76px;
        left: 0;
        top: 20px;
        content: "\e914";
        color: rgba(7, 157, 217, 0.2);
        font-family: 'icomoon'!important;
      }
    }
  }
}

.services {
  &-item {
    padding: 32px 22px 20px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: $primaryColor;
    border-radius: 8px;
    margin-bottom: 30px;
    text-decoration: none;
    position: relative;
    @include transition(.3);
    &:hover {
      background: rgba(47, 50, 65, 0.5);
      @include blur(64px);
      i {
        &:before {
          color: #0D94DA;
        }
      }
      .services__more {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, 0);
      }
      .services__title {
        transform: translate(0, -18px);
      }
    }
  }
  &__icon {
    margin-bottom: 22px;
    i {
      font-size: 54px;
      &:before {
        color: $whiteColor;
        @include transition(.3);
      }
    }
  }
  &__title {
    width: 150px;
    font-size: 26px;
    @include transition(.3);
  }
  &__more {
    @include transition(.3);
    position: absolute;
    opacity: 0;
    bottom: 10px;
    left: 50%;
    visibility: hidden;
    color: $primaryColor;
    transform: translate(-50%, 10px);
  }
}

.goal {
  margin-bottom: 100px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 60px;
  }
  .col-md-4 {
    margin-bottom: 16px;
  }
  &-heading {
    margin-bottom: 16px;
  }
  &-item {
    background: rgba(47, 50, 65, 0.5);
    @include blur(64px);
    border-radius: 20px;
    padding: 24px;
    height: 100%;
  }
  &__title {
    font-size: 26px;
    margin-bottom: 14px;
  }
  &__icon {
    height: 32px;
    width: 32px;
    margin-bottom: 6px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__description {
    line-height: 30px;
  }
}

.books {
  margin-bottom: 10px;
  &-heading {
    align-items: center;
    display: flex;
    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      position: relative;
      .heading-3 {
        width: 70%;
        text-align: center;
      }
    }
  }
  &-control {
    display: flex;
    align-items: center;
    .books-button {
      font-size: 18px;
      color: $primaryColor;
      margin-left: 40px;
      &:after {
        font-size: 30px;
      }
      @media (max-width: $breakpoint-md) {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
  &-slider {
    opacity: 0;
    padding: 30px 0 60px 0;
    &.swiper-container-initialized {
      opacity: 1;
    }
  }
  .swiper-slide {
    @media (max-width: $breakpoint-md) {
      width: 65%;
    }
  }
  &-item {
    display: flex;
    @include transition(.3);
    max-height: 240px;
    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      filter: drop-shadow(0px 30px 30px rgba(0, 0, 0, 0.2));
      transform: translate(0, -15px);
      &:hover {
        transform: none;
        filter: none;
      }
    }
  }
}

.sponsors {
  margin-bottom: 100px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 60px;
  }
  &-heading {
    margin-bottom: 20px;
  }
  &-list {
    display: flex;
    margin-bottom: 20px;
  }
  &-item {
    margin-right: 30px; 
  }
  &__icon {
    display: block;
    width: fit-content;
    height: 109px;
    margin-bottom: 22px;
    img {
      @include defaultIcon(contain);
    }
  }
  &__link {
    color: $darkBlue;
    text-decoration: none;
    display: flex;
    align-items: center;
    line-height: 1;
    i {
      transform: translate(20px, 0) rotate(-90deg);
      display: block;
      @include transition(.3);
      &:before {
        font-size: 12px;
        @include transition(.3);
        color: $darkBlue;
      }
    }
    &:hover {
      i {
        transform: translate(25px, 0) rotate(-90deg);
      }
    }
  }
  &-text {
    line-height: 30px;
  }
  &-stars {
    background: rgba(47, 50, 65, 0.5);
    @include blur(64px);
    border-radius: 20px;
    padding: 20px;
    position: relative;
    @media (max-width: $breakpoint-lg) {
      margin-top: 16px;
    }
    .stars-image {
      display: block;
      width: 100%;
      height: 100%;
      pointer-events: none;
      object-fit: cover;
      z-index: -1;
    }
    &__icon {
      width: 70px;
      margin: auto auto 20px auto;
      img {
        @include defaultIcon(contain);
      }
    }
    &-content {
      position: absolute;
      left: 50%;
      top: 47%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      z-index: 2;
    }
    &__text {
      width: 180px;
      text-align: center;
      font-size: 26px;
      margin-bottom: 20px;
      span {
        color: $darkBlue;
      }
    }
    &__link {
      text-align: center;
      color: $darkBlue;
      text-decoration: none;
      z-index: 2;
      font-size: 22px;
      @include transition(.3);
      width: fit-content;
      margin: auto;
      border-bottom: 1px solid transparent;
      &:hover {
        border-color: $darkBlue;
      }
    }
  }
}

.about-news-carousel {
  .about-news-heading {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    @media (max-width: $breakpoint-md) {
      position: relative;
      justify-content: center;
      .heading-3 {
        width: 70%;
        text-align: center;
      }
    }
  }
  .news-carousel-navigation {
    display: flex;
    margin-bottom: 0;
    @media (max-width: $breakpoint-md) {
      width: 100%;
      justify-content: space-between;
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  .news-prev {
    margin-left: 30px;
    @media (max-width: $breakpoint-md) {
      margin: 0;
    }
    &:after {
      color: $primaryColor;
    }
  }
  .news-next {
    margin-left: 30px;
    @media (max-width: $breakpoint-md) {
      margin: 0;
    }
    &:after {
      color: $primaryColor;
    }
  }
}