@import "../abstracts/mixins";
@import "../abstracts/variables";

.main-screen {
  margin: 67px 0 100px 0;
  display: block;
  @media (max-width: $breakpoint-lg) {
    margin: 30px 0 220px 0;
  }
  @media (max-width: $breakpoint-md) {
    margin: 30px 0 140px 0;
    position: relative;
  }
  .row {
    align-items: center;
    @media (max-width: $breakpoint-lg) {
      justify-content: center;
    }
  }
  &-abstracts {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    object-fit: contain;
    display: block;
    z-index: -1;
    pointer-events: none;
    height: auto;
    @media (max-width: $breakpoint-md) {
      height: 100%;
      object-fit: cover;
      top: -90px;
    }
  }
  &-square {
    position: absolute;
    top: -10px;
    right: 0;
    pointer-events: none;
    height: auto;
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
    &-half {
      height: auto;
      pointer-events: none;
      position: absolute;
      top: 500px;
      left: 0;
      transform: translate(0, -50%);
      @media (max-width: $breakpoint-lg) {
        display: none;
      }
    }
  }
  &-title {
    margin-bottom: 24px;
    text-align: left;
    @media (max-width: $breakpoint-lg) {
      text-align: center;
    }
    @media (max-width: $breakpoint-md) {
      text-align: left;
    }
  }
  & h1 {
    margin-bottom: 0;
  }
  &-description {
    margin-bottom: 32px;
    font-size: 20px;
    @media (max-width: $breakpoint-lg) {
      text-align: center;
    }
    @media (max-width: $breakpoint-md) {
      text-align: left;
    }
  }
  .img-container {
    &-secondary {
      z-index: 2;
      bottom: -230px;
      left: -150px;
      width: 410px;
      position: absolute;
      @media (max-width: $breakpoint-lg) {
        left: 50%;
        top: 100%;
        transform: translate(-50%, -30%);
        width: 86%;
      }
    }
  }
  .subscribe-form {
    @media (max-width: $breakpoint-lg) {
      margin: auto auto 48px auto;
    }
    @media (max-width: $breakpoint-md) {
      margin: 0 auto 48px 0;
    }
  }
}

.img-container {
  display: block;
  filter: drop-shadow(0px 30px 100px #000000);
  @media (max-width: $breakpoint-lg) {
    filter: drop-shadow(0px 30px 40px #000000);
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
}

.video {
  margin-bottom: 100px;
  @media (max-width: $breakpoint-lg) {
    margin-bottom: 60px;
    overflow: hidden;
  }
  .container {
    position: relative;
  }
  &-background {
    z-index: -1;
    @media (max-width: $breakpoint-xl) {
      width: 100%;
    }
    @media (max-width: $breakpoint-md) {
      width: 170%;
      margin-left: -35%;
    }
    @media (max-width: 400px) {
      width: 180%;
      margin-left: -40%;
    }
  }
  &-inner {
    position: absolute;
    top: 57%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    @media (max-width: $breakpoint-lg) {
      width: 95%;
    }
    @media (max-width: $breakpoint-md) {
      top: 50%;
    }
    @media (max-width: 400px) {
      top: 45%;
    }
  }
  .popup-youtube {
    width: 800px;
    @media (max-width: $breakpoint-lg) {
      width: 100%;
    }
  }
}

.popup-youtube {
  box-shadow: 0px 30px 100px #000000;
  border-radius: 10px;
  display: block;
  position: relative;
  &:before {
    content: "";
    background-image: url("../img/youtube-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}

.features {
  margin-bottom: 30px;
  &-item {
    margin-bottom: 68px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 50px;
    }
    &__icon {
      width: 64px;
      height: 64px;
      background: #3c3c54;
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
      img {
        width: 38px;
        object-fit: contain;
      }
    }
    &__title {
      font-size: 26px;
      margin-bottom: 12px;
    }
  }
}

.benefits {
  @media (max-width: $breakpoint-lg) {
    margin-bottom: 60px;
  }
  &-row {
    position: relative;
    margin-bottom: 90px;
    @media (max-width: $breakpoint-lg) {
      margin-bottom: 60px;
    }
    @media (max-width: $breakpoint-md) {
      margin-bottom: 50px;
    }
    &:before {
      content: "";
      background-image: url("../img/square-half.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 50%;
      width: 130px;
      height: 280px;
      transform: translate(0, -50%);
      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }
    .row {
      align-items: center;
    }
    .btn-primary {
      width: fit-content;
    }
    .img-container {
      filter: drop-shadow(-30px 30px 80px #000);
      @media (max-width: $breakpoint-md) {
        margin-bottom: 40px;
        filter: drop-shadow(0px 0px 30px #000);
      }
    }
    &:nth-child(even) {
      &:before {
        left: unset;
        right: 0;
        transform: translate(0, -50%) rotate(180deg);
      }
      .row {
        flex-direction: row-reverse;
      }
      .img-container {
        filter: drop-shadow(30px 30px 80px #000);
      }
    }
  }
}

.integrations {
  margin-bottom: 175px;
  @media (max-width: $breakpoint-lg) {
    margin-bottom: 0;
  }
  &-list {
    margin-top: 24px;
    @media (max-width: $breakpoint-md) {
      margin: 24px -5px 0 -5px;
    }
  }
  .col-xs-6 {
    @media (max-width: $breakpoint-md) {
      padding: 0 5px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(47, 50, 65, 0.5);
    @include blur(64px);
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 20px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 10px;
      padding: 20px 15px;
    }
    & img {
      max-width: 115%;
      height: 60px;
      object-fit: contain;
      @media (max-width: $breakpoint-lg) {
        max-width: 100%;
      }
    }
  }
  &-more {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      margin-top: 10px;
    }
    span {
      font-size: 36px;
      margin-right: 48px;
      @media (max-width: $breakpoint-md) {
        font-size: 26px;
        text-align: center;
        margin: 0 0 24px 0;
      }
    }
  }
}

.pricing {
  // overflow: hidden;
  position: relative;
  margin-bottom: 120px;
  @media (max-width: $breakpoint-lg) {
    overflow: hidden;
    padding-top: 100px;
  }
  @media (max-width: $breakpoint-md) {
    margin-bottom: 50px;
  }
  &-card-wrapper {
    @media (max-width: $breakpoint-lg) {
      margin-bottom: 110px;
    }
    @media (max-width: $breakpoint-md) {
      margin-bottom: 50px;
    }
    &.pricing-card-most-popular {
      @media (max-width: $breakpoint-md) {
        margin-top: 40px;
      }
    }
  }
  &-card-wrapper {
    position: relative;
  }
  &-background {
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translate(-50%, 0%);
    z-index: -1;
    @media (max-width: $breakpoint-lg) {
      top: 0;
    }
    @media (max-width: $breakpoint-md) {
      height: 700px;
    }
  }
  &-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    .billed-wrap {
      margin: 0 8px;
    }
    input {
      display: none;
      &:checked ~ label:after {
        transform: translate(100%, -50%);
      }
    }
    label {
      display: block;
      width: 44px;
      height: 24px;
      background: #282834;
      border-radius: 100px;
      position: relative;
      transition: 0.15s ease-in-out;
      margin: 0 auto;
      &:after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: #ffffff;
        transform: translateY(-50%);
        top: 50%;
        left: 2px;
        transition: 0.15s ease-in-out;
        position: absolute;
      }
    }
  }
  &-additional {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    width: 100%;
    padding: 0 15px;
    display: none;
    &-main {
      display: flex;
    }
    @media (max-width: $breakpoint-lg) {
      margin-top: -30px;
    }
    @media (max-width: $breakpoint-md) {
      display: flex;
      flex-direction: column;
      margin-top: 65px;
      padding: 0;
      &-main {
        display: none;
      }
    }
    &__text {
      font-size: 16px;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 15px;
      }
    }
  }
}

.pricing-card {
  background: rgba(47, 50, 65, 0.5);
  border: 1px solid #2b2c31;
  @include blur(64px);
  border-radius: 10px;
  position: relative;
  z-index: 2;
  @media (max-width: $breakpoint-lg) {
    border: none;
  }
  &.anually {
    .pricing-card__price_monthly {
      display: none;
    }
    .pricing-card__price_anually {
      display: block;
    }
  }
  &__badge {
    position: absolute;
    top: -40px;
    background: #282834;
    border-radius: 20px 20px 0 0;
    color: $whiteColor;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    justify-content: center;
    height: 76px;
    padding: 13px;
    width: calc(100% - 30px);
    left: 15px;
    @media (max-width: $breakpoint-lg) {
      color: $primaryColor;
      background: $whiteColor;
    }
  }
  &__title {
    padding: 15px;
    font-size: 26px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
  }
  &__price {
    font-size: 46px;
    font-weight: 700;
    line-height: 1.05;
    padding: 15px 10px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    @media (max-width: $breakpoint-xl) {
      font-size: 36px;
    }
    span {
      font-size: 16px;
      font-weight: 400;
    }
    &_monthly,
    &_anually {
      font-size: 46px;
      font-weight: 700;
      line-height: 1.05;
      @media (max-width: $breakpoint-xl) {
        font-size: 36px;
      }
    }
    &_anually {
      display: none;
    }
  }
  &__description {
    font-size: 16px;
    padding: 15px;
  }
  &__row {
    display: flex;
    align-items: center;
    padding: 6px 15px 6px 40px;
    border-bottom: 1px solid #2b2c31;
    position: relative;
    &:last-child {
      border-bottom: none;
    }
    &:nth-child(odd) {
      background: #2f3241;
    }
    &.disabled {
      .pricing-card__key,
      .pricing-card__value {
        color: #828282;
      }
    }
  }
  &__key,
  &__value {
    font-size: 16px;
    line-height: 25px;
  }
  &__key {
    display: flex;
    align-items: center;
  }
  &__value {
    padding-left: 5px;
    display: flex;
    margin-left: auto;
    img {
      width: 16px;
      object-fit: contain;
    }
  }
  &__button {
    position: absolute;
    bottom: -44px;
    left: 15px;
    height: 55px;
    width: calc(100% - 30px);
    padding: 22px 10px 10px 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background: $primaryColor;
    border: 2px solid $primaryColor;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    border-radius: 0px 0px 20px 20px;
    @include transition(0.3);
    @media (max-width: $breakpoint-md) {
      bottom: 100px;
    }
    i {
      margin-right: 10px;
    }
  }
}

.testimonials {
  position: relative;
  margin-bottom: 100px;
  @media (max-width: $breakpoint-lg) {
    margin-bottom: 60px;
  }
  .square-half {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: 240px;
    z-index: -1;
    @media (max-width: $breakpoint-lg) {
      height: 150px;
    }
    @media (max-width: $breakpoint-md) {
      display: none;   
    }
  }
  &-heading {
    position: relative;
    margin-bottom: 48px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 20px;
    }
    &:after {
      content: "";
      width: 54vw;
      height: 2px;
      background: $primaryColor;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }
    h2 {
      text-align: left;
      line-height: 1;
      @media (max-width: $breakpoint-xl) {
        padding-left: 100px;
      }
      @media (max-width: $breakpoint-md) {
        text-align: center;
        padding-left: 0;
      }
    }
  }
  .swiper-slide {
    height: auto;
  }
  .swiper-navigation {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    .swiper-button-prev {
      margin-right: 20px;
      &:after {
        font-size: 26px;
      }
    }
    .swiper-button-next {
      margin-left: 20px;
      &:after {
        font-size: 26px;
      }
    }
  }
  &-item {
    background: rgba(47, 50, 65, 0.5);
    @include blur(64px);
    border-radius: 10px;
    padding: 24px;
    height: 100%;
    &-author {
      display: flex;
      align-items: center;
      margin-bottom: 34px;
      min-height: 108px;
      img {
        display: block;
        width: 74px;
        height: 74px;
        margin-right: 8px;
        object-fit: contain;
        border-radius: 100%;
      }
      &__title {
        align-self: flex-end;
        font-size: 26px;
      }
      &__subtitle {
        font-size: 16px;
        line-height: 1.7;
        align-self: flex-start;
        @media (max-width: $breakpoint-lg) {
          line-height: 1.4;
        }
      }
    }
  }
}

.news-carousel {
  margin-bottom: 123px;
  @media (max-width: $breakpoint-lg) {
    margin-bottom: 60px;
  }
  .app__description {
    @media (max-width: $breakpoint-md) {
      margin-bottom: 24px;
    }
  }
  &-navigation {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    display: none;
    @media (max-width: $breakpoint-md) {
      display: flex;
    }
    .news-prev:after, .news-next:after {
      font-size: 26px;
    }
  }
  &-item {
    position: relative;
    display: block;
    text-decoration: none;
    &:hover {
      .news-carousel-item__icon img {
        transform: scale(1.05);
      }
    }
    &__icon {
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        display: block;
        @include transition(.3);
      }
      figcaption {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background: $primaryColor;
        border-radius: 0px 10px;
        padding: 5px 18px;
        text-align: center;
        span {
          display: block;
        }
      }
    }
    &-day {
      font-weight: 800;
      font-size: 25px;
      line-height: 1;
    }
    &-month {
      font-weight: 800;
      font-size: 13px;
      line-height: 1;
    }
    &-year {
      font-size: 14px;
      line-height: 18px;
    }
    &__content {
      margin-top: 24px;
    }
    &__title {
      font-weight: 500;
      font-size: 26px;
      margin-bottom: 16px;
      @media (max-width: $breakpoint-lg) {
        font-size: 20px;
        line-height: 1.3;
      }
      @media (max-width: $breakpoint-md) {
        font-size: 26px;
      }
    }
    &__description {
      @include text-ellipsis(3);
      @media (max-width: $breakpoint-lg) {
        font-size: 16px;
      }
    }
  }
}
