@import "../abstracts/mixins";
@import "../abstracts/variables";

.modules {
  margin: 60px 0 100px 0;
  @media (max-width: $breakpoint-lg) {
    margin: 36px 0 60px 0;
  }
  .subscribe-form {
    margin: 0 auto 80px auto;
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }
  .filter-input__label {
    height: 50px;
    width: 280px;
    margin-right: 16px;
    position: relative;
    @media (max-width: $breakpoint-lg) {
      width: 250px;
      margin-right: 10px;
    }
    @media (max-width: $breakpoint-md) {
      width: 100%;
      margin: 0 0 16px 0;
    }
    &:before {
      font-family: "icomoon";
      content: "\e912";
      position: absolute;
      top: 50%;
      right: 28px;
      color: #5a6c81;
      transform: translate(0, -50%);
    }
  }
  .filter-input {
    width: 100%;
    font-family: inherit;
    border: none;
    border-radius: 100px;
    padding: 12px 55px 12px 27px;
    resize: none;
    color: #4f4f4f;
    font-size: 18px;
    line-height: 25px;
    @include transition(0.3);
    @media (max-width: $breakpoint-lg) {
      font-size: 16px;
    }
    &:focus {
      box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3);
      outline: none;
    }
    &::placeholder {
      color: #4f4f4f;
    }
    &::-moz-placeholder {
      color: #4f4f4f;
    }
  }
  .custom-select {
    margin: 0 16px;
    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
  }
  .btn-primary {
    height: 50px;
    color: $whiteColor;
    width: 144px;
    font-size: 18px;
    text-transform: unset;
    font-weight: 400;
    @media (max-width: $breakpoint-lg) {
      width: 100px;
    }
    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
  }
  .filter-grid.column{
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
  .filter-grid__btn {
    border: 2px solid $primaryColor;
    padding: 12px 24px;
    border-radius: 100px;
    display: flex;
    min-width: 160px;
    justify-content: center;
    height: 50px;
    align-items: center;
    color: $primaryColor;
    margin-left: 12px;
    font-size: 18px;
    background: transparent;
    text-transform: unset;
    cursor: pointer;
    @include transition(0.3);
    @media (max-width: $breakpoint-xl) {
      min-width: 50px;
      padding: 12px;
    }
    span {
      color: inherit;
      @media (max-width: $breakpoint-xl) {
        display: none;
      }
    }
    i {
      margin-right: 10px;
      &:before {
        color: $primaryColor;
        @include transition(0.3);
      }
      @media (max-width: $breakpoint-xl) {
        margin: 0;
      }
    }
    &.active,
    &:hover {
      background: $primaryColor;
      color: $whiteColor;
      i:before {
        color: $whiteColor;
      }
    }
  }
}

.filter-wrapp {
  margin-bottom: 30px;
  .column {
    padding: 0 15px;
    @media (max-width: $breakpoint-md) {
      width: 100%;
      display: flex;
      flex-direction: column;
      .filter-column {
        width: 100%;
        margin-bottom: 16px;
      }
      .custom-select {
        margin: 0;
      }
    }
  }
}

.post-listing {
  &.m-row {
    margin: 0 -15px;
  }
}
.d-none {
  display: none;
}
.d-xl-inline-block {
  @media (min-width: $breakpoint-xl) {
    display: inline-block;
  }
}

.module .app-screen__title,
.module .subscribe-block__title {
  margin-bottom: 16px;
}

.module .app-screen__title {
  margin-top: 60px;
}

.module .subscribe-block__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #5a6c81;
}

.module-card__description {
  text-align: left;
  font-size: 18px;
  line-height: 25px;
}

.module-card__status {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
}

.module .subscribe-block__input {
  box-shadow: none;
  border: 1px solid #0089cf;
}

.module-card__link {
  font-size: 20px;
  line-height: 25px;
  color: $primaryColor;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.module-card__link:after {
  content: "";
  width: 0;
  height: 1px;
  background: #0089cf;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.module-card__link:hover:after {
  width: 100%;
}

.module-table__header {
  padding: 15px 0;
  background: #2f3241;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  .--bold {
    font-weight: 400;
  }
}

@media (max-width: 767px) {
  .module-table__header {
    display: none;
  }
}

.med_inline_block {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333332%;
  -ms-flex: 0 0 33.333332%;
  flex: 0 0 33.333332%;
  max-width: 33.333332%;
  margin-bottom: 26px;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .med_inline_block {
    margin-bottom: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.med_inline_block .module {
  padding: 60px 0 24px 0;
}

.med_inline_block .module-card {
  border-radius: 5px;
  background: rgba(47, 50, 65, 0.5);
  @include blur(64px);
  border-radius: 20px;
  padding: 16px;
  height: 100%;
  position: relative;
}

.med_inline_block .module-card__name {
  padding-top: 16px;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 16px;
  @media (max-width: $breakpoint-lg) {
    font-size: 18px;
  }
}

.med_inline_block .module-card__icon {
  position: relative;
  margin-bottom: 24px;
}

.med_inline_block .module-card__icon img {
  height: 90px;
  width: 100%;
  object-fit: contain;
}

.med_inline_block .module-card__icon:after {
  content: "";
  width: calc(100% + 32px);
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: -16px;
  bottom: -16px;
}

.module-card .app__description {
  padding: 0 0 24px 0;
  font-size: 18px;
  margin: 0 0 24px 0;
  max-width: unset;
  @media (max-width: $breakpoint-lg) {
    font-size: 16px;
  }
}

.med_inline_block .module-card__link {
  position: absolute;
  right: 16px;
  bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #0089cf;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}


.med_inline_block .module-card__link:hover {
  border-color: $primaryColor;
  text-decoration: none;
}

.med_inline_block .module-card__link:after {
  display: none;
}
.med_inline_block .module-card__status {
  color: $whiteColor;
  position: absolute;
  left: 16px;
  bottom: 16px;
}

.med_inline_block .module-card__view {
  display: flex;
  flex-wrap: nowrap;
}

.med_inline_block .module-table__view {
  display: none;
  flex-wrap: nowrap;
}

.med_block {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 99.999996%;
  -ms-flex: 0 0 99.999996%;
  flex: 0 0 99.999996%;
  max-width: 99.999996%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.med_block:nth-child(even) {
  background: #2f3241;
}

@media (max-width: $breakpoint-md) {
  .med_block {
    margin-bottom: 30px;
  }
  .med_block:nth-child(odd) {
    background: #2f3241;
  }
}

.med_block .module-table__icon {
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.med_block .module-table__name {
  font-size: 16px;
  line-height: 32px;
  color: $whiteColor;
  text-align: center;
  width: 100%;
}

@media (max-width: 767px) {
  .med_block .module-table__view {
    display: none;
  }
  .module-card {
    background: rgba(47, 50, 65, 0.5);
    @include blur(64px);
    width: 100%;
    padding: 16px;
    overflow: hidden;
  }
  .med_block {
    border-radius: 20px;
    overflow: hidden;
  }
}

@media (min-width: 767px) {
  .med_block .module-card {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 99.999996%;
    -ms-flex: 0 0 99.999996%;
    flex: 0 0 99.999996%;
    max-width: 99.999996%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 16px 0 18px 0;
  }
}



@media (min-width: 767px) {
  .med_block .module-card__view {
    display: none;
  }
}

@media (min-width: 767px) {
  .med_block .module-card__icon,
  .med_block .module-card__name,
  .med_block .module-card__description {
    padding: 0 15px;
  }
}

@media (min-width: 767px) {
  .med_block .module-card__icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 24.999999%;
    -ms-flex: 0 0 24.999999%;
    flex: 0 0 24.999999%;
    max-width: 24.999999%;
  }
}

@media (max-width: 767px) {
  .med_block .module-card__icon {
    position: relative;
    margin-bottom: 24px;
    display: flex;
    height: 70px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .med_block .module-card__icon:after {
    content: "";
    width: calc(100% + 36px);
    left: -16px;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: -16px;
  }
}

@media (max-width: 767px) {
  .med_block .module-card__name {
    padding-top: 16px;
  }
}

@media (min-width: 767px) {
  .med_block .module-card__name {
    display: none;
  }
}

@media (max-width: 767px) {
  .med_block .module-card__description {
    padding: 8px 0;
  }
}

@media (min-width: 767px) {
  .med_block .module-card__description {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333332%;
    -ms-flex: 0 0 33.333332%;
    flex: 0 0 33.333332%;
    max-width: 33.333332%;
  }
}

@media (min-width: 767px) {
  .med_block .module-card__link {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 24.999999%;
    -ms-flex: 0 0 24.999999%;
    flex: 0 0 24.999999%;
    max-width: 24.999999%;
  }
}

.post-listing {
  .empty-block__title.heading-3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
  }
}
.contacts__form {
  margin: 30px 0;
  @media (max-width: $breakpoint-md) {
    margin: 30px -30px;
  }
  .col-xs-12 {
    .col-xs-12 {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
  .form-control {
    padding: 0;
    margin: 0 0 16px 0;
    input, textarea{
      width: 100%;
      font-family: inherit;
      border: none;
      border-radius: 4px;
      padding: 12px 27px;
      resize: none;
      color: #4f4f4f;
      font-size: 18px;
      line-height: 25px;
      @include transition(0.3);
      &:focus {
        box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3);
        outline: none;
      }
      &::placeholder {
        color: #4f4f4f;
      }
      &::-moz-placeholder {
        color: #4f4f4f;
      }
    }
    input[type=submit] {
      color: $whiteColor;
      border: 2px solid $primaryColor;
      &:hover {
        border-color: $primaryColor;
      }
    }
  }
}