@import "../abstracts/mixins";
@import "../abstracts/variables";

.modules {
  .subscribe-form {
    margin: auto;
  }
  &-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0 30px 0;
    &-search {
      display: flex;
      align-items: center;
      &-input {
        height: 50px;
        width: 280px;
        margin-right: 16px;
        position: relative;
        .form-control {
          padding: 12px 55px 12px 27px;
        }
        &:before {
          font-family: 'icomoon';
          content: "\e912";
          position: absolute;
          top: 50%;
          right: 28px;
          color: #5A6C81;
          transform: translate(0, -50%);
        }
      }
    }
    &-select {
      height: 50px;
      margin-right: 16px;
      .select-dropdown__button {
        width: 200px;
      }
    }
    &-submit {
      button {
        height: 50px;
        color: $whiteColor;
        width: 144px;
        font-size: 18px;
        text-transform: unset;
        font-weight: 400;
      }
    }
    &-view {
      display: flex;
      align-items: center;
      .view-item {
        border: 2px solid $primaryColor;
        padding: 12px 24px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        color: $primaryColor;
        margin-left: 12px;
        cursor: pointer;
        @include transition(.3);
        i {
          margin-right: 10px;
          &:before {
            color: $primaryColor;
            @include transition(.3);
          }
        }
        &.active, &:hover {
          background: $primaryColor;
          color: $whiteColor;
          i:before {
            color: $whiteColor;
          }
        }
      }
    }
  }
}
