@import "../abstracts/mixins";
@import "../abstracts/variables";

.btn {
  font-family: inherit;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  padding: 10px 24px;
  text-transform: uppercase;
  @include transition(.3);
  color: $whiteColor;
  cursor: pointer;
  &-primary {
    background: $primaryColor;
    border: 2px solid $primaryColor;
    border-radius: 100px;
    &:hover {
      background: transparent;
    }
  }
  &.has-icon {
    display: flex;
    align-items: center;
    i {
      font-size: 12px;
      margin-right: 10px;
      &:before {
        @include transition(.3);
      }
    }
  }
  &-secondary {
    background: transparent;
    border: 2px solid $primaryColor;
    border-radius: 100px;
    padding: 12px 24px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    text-transform: unset;
    color: $primaryColor;
    &:hover {
      color: $whiteColor;
      background: $primaryColor;
    }
  }
  &-white {
    background: transparent;
    border: 2px solid $whiteColor;
    color: $whiteColor;
    display: flex;
    align-items: center;
    border-radius: 100px;
    &:hover {
      background: $whiteColor;
      color: $defaultText;
      i:before {
        color: $defaultText;
      }
    }
  }
  &-arrow {
    i {
      font-size: 18px;
      margin-left: 8px;
      &:before {
        @include transition(.3);
      }
    }
  }
}

