@import "../abstracts/mixins";
@import "../abstracts/variables";

.form-control {
  width: 100%;
  font-family: inherit;
  border: none;
  border-radius: 100px;
  padding: 12px 27px;
  resize: none;
  color: #4f4f4f;
  font-size: 18px;
  line-height: 25px;
  @include transition(0.3);
  &:focus {
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3);
    outline: none;
  }
  &::placeholder {
    color: #4f4f4f;
  }
  &::-moz-placeholder {
    color: #4f4f4f;
  }
}

.custom-select {
  position: relative;
  width: 200px
}

.custom-select select {
  display: none;
  opacity: 0;
  visibility: hidden;
  font-size: 16px;
  padding: 11px 34px 11px 56px;
}

.select-list {
  position: absolute;
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  min-width: 100%;
  border-radius: 10px;
  overflow: hidden;
  top: 110%;
  left: 0;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  z-index: 5;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.select-list__item {
  display: block;
  list-style-type: none;
  padding: 10px 15px;
  background: #fff;
  border-top: 1px solid #e6e6e6;
  font-size: 18px;
  line-height: 1.4;
  cursor: pointer;
  text-align: left;
  color: $defaultText;
  transition: all ease-in-out 0.3s;
  &:first-child {
    border-top: none;
  }
  &:hover {
    background: $primaryColor;
    border-color: $primaryColor;
    color: $whiteColor;
    transition: all ease-in-out 0.3s;
  }
}
.select-list__item.--current {
  border: 2px solid #eeeeee;
  border-radius: 100px;
  padding: 11px 34px 11px 56px;
  &:hover {
    color: $defaultText;
    background: $whiteColor;
  }
}

.select-list__item.--current:after {
  content: "\e90c";
  font-family: "icomoon" !important;
  font-size: 13px;
  position: absolute;
  color: #5A6C81;
  top: 50%;
  right: 21px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.select-list__item.--current:before {
  content: "";
  background-repeat: no-repeat;
  width: 18px;
  height: 12px;
  left: 27px;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  background-image: url("../img/icons/status-icon.svg");
}
.select-hide {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
  transform: translate(0, 50px);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
