@import "../abstracts/mixins";
@import "../abstracts/variables";

.form-control {
  width: 100%;
  font-family: inherit;
  border: none;
  border-radius: 100px;
  padding: 12px 27px;
  resize: none;
  color: #4F4F4F;
  font-size: 18px;
  line-height: 25px;
  &::placeholder  {
    color: #4F4F4F;
  }
  &::-moz-placeholder {
    color: #4F4F4F;
  }
}