@import "../abstracts/mixins";
@import "../abstracts/variables";

.subscribe-form {
  width: 328px;
  @media (max-width: 400px) {
    width: 100%;
  }
  .form-group {
    position: relative;
    width: 100%;
    &:before {
      position: absolute;
      left: 24px;
      top: 50%;
      transform: translate(0, -50%);
      font-family: "icomoon";
      content: "\e908";
      color: #5a6c81;
    }
  }
  input {
    font-family: inherit;
    height: 50px;
    width: 100%;
    border-radius: 100px;
    border: none;
    padding: 12px 50px;
    font-size: 18px;
    @include transition(0.3);
    &:focus {
      box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3);
      outline: none;
    }
    &::placeholder {
      color: #4f4f4f;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: #4f4f4f;
    }
    &::-ms-input-placeholder {
      color: #4f4f4f;
    }
  }
  button {
    background: $primaryColor;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    border: 1px solid $primaryColor;
    @include transition(0.3);
    i:before {
      @include transition(0.3);
    }
    &:hover {
      background: $whiteColor;
      i:before {
        color: $primaryColor;
      }
    }
  }
  &-account {
    margin-top: 4px;
    display: block;
    text-align: center;
  }
}

.tooltip {
  position: absolute;
  left: 15px;
  top: 10px;
  cursor: pointer;
  z-index: 22;
  display: flex;
}

.tippy-box {
  font-size: 18px;
}

.subscribe-form-long {
  width: 440px;
  button {
    width: 140px;
    border-radius: 100px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $darkBlue;
    &:hover {
      color: $darkBlue;
      i:before {
        color: $darkBlue;
      }
    }
    i {
      margin-left: 12px;
    }
  }
}